<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Repuestos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Valor" formControlName="Valor">
            <mat-error *ngIf="addressForm.controls['Valor'].hasError('required')">
              Valor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['Valor'].hasError('pattern')">
              Ingrese un valor <strong>numerico</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo" formControlName="Tipo">
            <mat-error *ngIf="addressForm.controls['Tipo'].hasError('required')">
              Tipo is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Vehiculo" formControlName="Vehiculo">
            <mat-error *ngIf="addressForm.controls['Vehiculo'].hasError('required')">
              Vehiculo is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
